*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
    display: flex;
}
.text-grey{
   color:#424242;
}
.bg-color{
     background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-menu{
   
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar,.banner{
    max-width: 1180px;
    margin: 0 auto;
}
.banner{
    text-align: center;
    width: 750px;
    margin-top: 90px;
    margin-bottom: 60px;

}
.hero-heading{
    color: #131313;
    font-weight: 700;
    font-size: 4rem;
}
.hero-para{
    color: #727272;
    font-size: 0.89rem;
    line-height: 26px;
    margin-bottom: 30px;
}
.btn-primary{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;
    background-color: rgba(255, 144, 14, 1);
    padding: 21px 25px;
    border-radius: 4px;
    border: none;
    margin-bottom: 50px;
}

.banner-img{
    width: 100%;
}
@media screen and (max-width:576px) {
    .navbar,.nav-menu{
        flex-direction: column;
    }
    .banner{
    text-align: center;
    width:100%;
    margin-top: 30px;
    margin-bottom: 20px;

}
     .hero-heading{
    color: #131313;
    font-weight: 700;
    font-size: 2rem;
}
.hero-para{
    color: #727272;
    font-size: 0.89rem;
    line-height: 20px;
    margin-bottom: 10px;
}
    
}


